@font-face{
  font-family: 'Exo 2';
  src: url('../font/Exo_2/Exo2-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Material Design Icons';
  src: url('../font/MaterialDesign-Webfont/materialdesignicons-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
