@import 'font';

body{
  background: #000;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  user-select: none;
  .container{
    left: 50%;
    position: absolute;
    transform: translate(calc(-50% - 155px), -50%);
    top: 50%;
    #keyboard{
      position: relative;
      width: calc(48px * 15 + 200px);
      &[no-shift]{
        .shift{
          display: none;
        }
      }
      &[no-altgr]{
        .altgr{
          display: none;
        }
      }
      &[data-alignment="centre"]{
        > div{
          kbd{
            align-items: center;
            justify-content: center;
          }
        }
      }
      &[data-alignment="topleft"]{
        > div{
          kbd{
            align-items: flex-start;
            justify-content: flex-start;
          }
        }
      }
      > div{
        display: flex;
        &.top{
          justify-content: space-between;
        }
        kbd{
          background: #fff;
          border-radius: 2px;
          color: #000;
          cursor: default;
          display: inline-flex;
          flex-direction: column;
          font-family: inherit;
          font-size: 18px;
          height: 48px;
          margin: 2px;
          padding: 4px;
          position: relative;
          width: 48px;
          &.merged{
            &:before{
              content: "";
              background: #fff;
              position: absolute;
              left: 0;
              top: -50%;
              width: 100%;
              height: 100%;
              z-index: -1;
            }
          }
          &[data-colour]:not([data-colour="white"]){
            color: #fff;
            img{
              filter: invert(1);
            }
            &.notch{
              &:after{
                border-bottom-color: #fff;
              }
            }
          }
          &[data-colour="green"]{
            background: #00ca00;
          }
          &[data-colour="blue"]{
            background: #127cff;
          }
          &[data-colour="red"]{
            background: #f21839;
          }
          &[data-colour="amber"]{
            background: #ffc000;
          }
          &.notch{
            &:after{
              border-bottom: #000 2px solid;
              content: " ";
              width: 0.5em;
            }
          }
          > input[type="text"]{
            bottom: 0.25em;
            color: inherit;
            font-family: inherit;
            font-size: 0.9em;
            background: transparent;
            border: none;
            outline: none;
            position: absolute;
            right: 0.25em;
            text-align: right;
            text-shadow: inherit;
            width: calc(100% - 0.5em);
            &:disabled{
              cursor: default;
              pointer-events: none;
              user-select: none;
            }
          }
          > span{
            pointer-events: none;
            display: inline-flex;
          }
          > img{
            font-size: 24px;
            pointer-events: none;
          }
        }
      }
    }
  }
  #controls{
    background: #fff;
    border-left: 2px solid #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 4px;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    .heading{
      font-size: 1.5em;
    }
    > div{
      margin: 8px 0;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
    .button{
      background: #009688;
      color: #fff;
      cursor: pointer;
      padding: 4px 8px;
      display: inline-flex;
      transition: 100ms background;
      &:hover{
        background: #26A69A;
      }
      &:active{
        background: #00897B;
      }
    }
  }
}
