x-icon:before, x-icon {
  //align-items: center;
  justify-content: center;
  display: inline-flex;
  //display: inline-block;
  font: normal normal normal #{$mdi-font-size-base}/1 'Material Design Icons';
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  line-height: inherit;
  width: 1em;
  height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
